@{
    ViewData["Title"] = "Polityka prywatności";
}


<p>
    
    <h1>Polityka prywatności dla Aplikacji PlatformaMultimedialna</h1>
    <br /><br />
    <h2>1. Informacje ogólne</h2>

    Dziękujemy za korzystanie z Aplikacji PlatformaMultimedialna. Niniejsza polityka prywatności ma na celu poinformowanie użytkowników o tym, w jaki sposób gromadzone, przechowywane i wykorzystywane są dane osobowe.
    <br /><br />
    <h2>2. Rodzaje zbieranych danych</h2>

    Aplikacja PlatformaMultimedialna może gromadzić następujące rodzaje danych:
    <br />
    <b>1. Dane identyfikacyjne:</b> Takie jak imię, nazwisko, adres e-mail, itp., które są zbierane podczas rejestracji lub logowania się do aplikacji.<br />
    
    <b>2. Dane plików multimedialnych:</b> Takie jak pliki graficzne (np. zdjęcia w formatach JPG, JPEG, PNG), pliki wideo (np. w formacie MP4), <br />pliki dźwiękowe (np. w formatach MP3), które są przesyłane w celu przechowywania i udostępniania treści multimedialnej.<br />

    <b>3. Dane o użytkowaniu:</b> Informacje o korzystaniu z aplikacji, takie jak historia przeglądanych plików, czas trwania sesji, itp.
    <br /><br />
    <h2>3. Cel gromadzenia danych</h2>

    <b>Dane są gromadzone w celu:</b>
    <br />
    1. Umożliwienia korzystania z funkcji aplikacji,<br />
    2. Personalizacji doświadczenia użytkownika,<br />
    3. Udoskonalenia jakości i funkcjonalności usług,<br />
    4. Bezpiecznego przechowywania plików multimedialnych.
    
    <br /><br />
    <h2>4. Bezpieczeństwo danych</h2>

    Zależy nam na bezpieczeństwie Państwa danych osobowych. Stosujemy odpowiednie środki bezpieczeństwa, aby chronić dane przed utratą, dostępem nieautoryzowanym, zmianą lub ujawnieniem.
    <br /><br />
    <h2>5. Udostępnianie danych osobowych</h2>

    Dane osobowe nie będą przekazywane osobom trzecim bez wyraźnej zgody użytkownika, chyba że wymaga tego prawo lub jest to niezbędne do świadczenia usług.
    <br /><br />
    <h2>6. Pliki cookie</h2>

    Aplikacja PlatformaMultimedialna może korzystać z plików cookie w celu zbierania informacji o korzystaniu z aplikacji. Użytkownik ma możliwość zarządzania ustawieniami plików cookie w swojej przeglądarce.
    <br /><br />
    <h2>7. Kontakt z nami</h2>

    W przypadku pytań dotyczących polityki prywatności prosimy o kontakt pod adresem e-mail: privacy@platformamultimedialna.com.
    <br /><br />
    <h2>8. Zmiany w polityce prywatności</h2>

    Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej polityce prywatności. Aktualna wersja polityki prywatności zawsze będzie dostępna na stronie internetowej aplikacji.
    <br /><br />
    <h4>Ostatnia aktualizacja: 14.01.2024</h4>
</p>
